<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lynx Shopsite</title>
<link th:href="@{/css/index.css}" rel="stylesheet">

</head>
<body>
    <div class="text">
      <p>Welcome to Lynx-Shopsite</p>
      <p>If you are an administrator</p>
    </div>
    <div class="btn-wrapper">
      <div class="btn">
        <!-- <span class="btn-text-one"> -->
          <a href="/login">Welcome!</a>
        <!-- </span> -->
        <!-- <span class="btn-text-two">🐶🦒🦞⚡️🐷🌞🦚</span> -->
      </div>
    </div>
  </body>
</html>