<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lynx-Shopsite</title>
  </head>
  <body>
    <div class="container">
      <p th:text="${message}"></p>
      
      <form th:action="@{/show_register_result}" th:object="${productForm}" method="post">
        <input type="text" placeholder="Product code" th:field="*{code}" />
        <br />
        <input type="text" placeholder="Product name" th:field="*{name}" />
        <br />
        <input type="text" placeholder="Description" th:field="*{description}" />
        <br />
        <input type="text" placeholder="Price" th:field="*{price}" />
        <br />
        <input type="text" placeholder="Evaluation" th:field="*{evaluation}" />
        <br />
        <input class="btn" type="submit" value="Register" />
        <br />
      </form>
    </div>

  </body>
</html>