<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lynx-Shopsite</title>
    <link th:href="@{/css/show_product.css}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/show_product.css"> -->
  </head>

  <body>

   <div class="container">
      <div class="box">
        <div class="prod-text">
          <p class="message" th:text="${message}"></p>
        </div>
        <div class="line"></div>

        <div class="table-box">

          <table class="p-table" >
            <tr>
              <th>code</th>
              <th>name</th>
              <th>description</th>
              <th>price</th>
              <th class="bordernone">evaluation</th>
            </tr>
            <tr th:each="outerMap : ${outerMap}">
              <td><p th:text="${outerMap.value.code}"></p></td>
              <td><p th:text="${outerMap.value.name}"></p></td>
              <td><p th:text="${outerMap.value.description}"></p></td>
              <td><p th:text="${outerMap.value.price}"></p></td>
              <td class="bordernone"><p th:text="${outerMap.value.evaluation}"></p></td>
            </tr>
            
          </table>
        </div>
        <form>
          <input class="back-to-menu-btn" type="button" value="To admin menu" onclick="history.go(-1)">
        </form>
     </div>
   </div>

  </body>
</html>