<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lynx-Shopsite</title>
    <link th:href="@{/css/update_product.css}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/css/update_product.css"> -->
  </head>
  <body>

    <div class="container">
      <div class="box">

        <p class="message" th:text="${message}"></p>

        <form th:action="@{/show_update_result}" th:object="${productForm}" method="post">
          <input type="text" th:field="*{code}" placeholder="Product code" class="input"/>
          <br />
          <input type="text" th:field="*{name}" placeholder="Product name" class="input"/>
          <br />
          <input type="text" th:field="*{description}" placeholder="Description" class="input"/>  
          <br />
          <input type="text" th:field="*{price}" placeholder="Price" class="input"/>
          <br />
          <input type="text" th:field="*{evaluation}" placeholder="Evaluation" class="input"/>
          <br />

          <div class="btns">
            <input type="submit" value="UPDATE" class="btn" />
            <input type="button" value="TO ADMIN MENU" onclick=history.go(-1) class="btn" />
          </div>
        </form>
        <input type="button" value="to admin menu" onclick="history.go(-1)">
      </div>
    </div>

  </body>
</html>